body{
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: sans-serif;
    padding: 5% 30% 5% 30%;
    background: linear-gradient(.40turn,#FCBE00, #7E0DDF);
    background-repeat: no-repeat;
}
#tile-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3%;
    border-radius: 0.3rem;
    background: linear-gradient(.40turn, #7E0DDF,#FCBE00);
    background-repeat: no-repeat;
}
#start-box{
    display: flex;
}
#start-button{
    flex-grow: 1;
    background-color: #282A3A;
    color: white;
    font-size : 1.5rem;
    margin: 0.4rem 0.4rem 0.4rem 0rem;
    border-radius: 0.3rem; 
    border: 0;
}
#info{
    color: white;
    flex-grow: 3;
    margin: 0.4rem;
}
.tile{
    flex-basis: 25%;
}
.tile-images{
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    transition: all 0.4s ease;
    /* scale: 0.8; */
}
.flip{
    width: 100%;
    height: 100%;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: all 0.4s;
    /* scale: 0.95; */
}
.matched{
    opacity: 0;
    transform: rotateY(720deg);
    transform-style: preserve-3d;
    transition: all 0.4s ease;
}